body {
    margin: 0px;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #F9FAF8;
}

.header {
    background: #1F2937;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}


ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: auto;
    margin-right: 10px;
}

a{
    text-decoration: none;
    font-size: 18px;
    flex: 1;
    color: #F9FAF8;
}

.hero {
    background: #1F2937;
    display: flex;   
}

.left-items,
.right-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
.primary {
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    border-radius: 4px;
}

img {
    width: 200px;
    height: auto;

}